/*this is for index header */


/* -----------------------ENDDD FOR INDEX.PHP ------------------*/
/*--------footer-------- */
.foot p{
    margin-left:50px;
    color: rgb(0, 4, 7);
    padding: 1px;
    height: 30px;
    text-align: center;
    
}
  footer{
    margin-left:250px;
    background-color: #C31F33;
  }
/*--------footer-------------- */
  


